/* Second styles for Google homepage */

/* ===Design Information 

  Colors
    Header text - black
    Footer and button text - #5f6368
    Footer and button background color - #f2f2f2
    Input field hover - lilghtgrey
    Sign-in button - blue

  Fonts
    Everything - Arial, Helvetica, sans-serif
*/

.body {
  padding-top: 15px;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===Navbar in Header and Footer === */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  font-size: 13px;
}

.hnav { 
  list-style-type: none;
  padding: 0;  
  margin: 0; 
}

.hnav__li {
  display: inline;
  padding-left: 15px;
  padding-right: 10px;
}

.hnav__li--r {
  position: relative;
  top: -8px;
}

.hnav__link:link {
  color: black;
  text-decoration: none;
}

.hnav__link--light:link {
  color: #5f6368;
  text-decoration: none;
}

.hnav__link:hover {
  text-decoration: underline;
}

.grid {
  position: relative;
  top: -2px; 
}

.circle {
  position: relative;
  top: -18px;    
}

/* ===Main=== */
.flex-container--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
}

.input-container {
  position: relative;
  width: fit-content;
  margin-bottom: 15px;
  margin-top: 30px;
}

.input-field {
  position: relative;
  width: 575px;
  height: 45px;
  padding: 10px 40px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
  border-width: 1px; 
  font-size: 16px;  
}

@media (max-width: 640px) {
  .input-field {
    width: 475px;
  }
}

@media (max-width: 544px) {
  .input-field {
    width: 300px;
  }
}

.input-field:focus {
  outline: none;
}

.input-field:hover {
  box-shadow: 0 0 5px 1px lightgrey;
}

.icon--leading {
  position: absolute; 
  left: 10px; 
  top: 12px;  
  color: #9c9c9c;
}

.icon--trailing {
  position: absolute; 
  right: 10px; 
  top: 8px;  
}

.flex-container--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ===Buttons--- */
.btn {
  display: inline-block;
  height: 36px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: none;
  color: #5f6368;
  font-size: 14px;
}

.btn--sign-in {
  position: relative;
  top: -8px;
  box-shadow: none;
  height: 30px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #4387fd;
  border-style: none;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

/* ===Footer=== */
.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  color: #5f6368;
  font-size: 14px;
}

.break {
  width: 0;
}

.hide--lg {
  display: none;
}

.hide--sm {
  display: inline;
}

.hide--vsm {
  display: inline;
}

@media (max-width: 768px) {
  .foot {
    height: 40px;
    padding-bottom: 20px;
    justify-content: center;    
  }
  
  .break {
    width: 100vw;
  }
  
  .hide--lg {
  display: inline;
  }

  .hide--sm {
    display: none;
    }
}

@media (max-width: 350px) {
  .hide--vsm {
    display: none;
  }
}

/* ===Google Font Settings=== */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }