/* Second styles for Google homepage */

.body {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===Navbar=== */
.hnav { 
  list-style-type: none;
  padding: 0;  
  margin: 0; 
}

.hnav__li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.hnav__li--r {
  float: right;
  padding-left: 10px;   
}

.grid {
  position: relative;
  top: -2px; 
}

.circle {
  position: relative;
  top: -10px;    
}

/* ===Main=== */
.flex-container--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

/* Style the input container */
.input-container {
  position: relative;
  width: fit-content;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon--leading {
  position: absolute; 
  left: 10px; 
  top: 8px;  
  color: lightgray;
}

.icon--trailing {
  position: absolute; 
  right: 10px; 
  top: 8px;  
}
  
  /* Style the input fields */
.input-field {
  position: relative;
  width: 300px%;
  padding: 10px 40px;
  outline: none;
  border-color: lightgray;
  border-radius: 20px;
}




/* ===Footer=== */
.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding-bottom: 10px;
}


/* ===Google Font Settings=== */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }